*{

    margin: 15;
    padding: 15;
}

p{
    
    width: 300px;
    margin: 20px auto;
    padding: 20px;

}

.solid {

    border: 15px solid tomato;
}

.dotted {

    border: 10px dotted teal;
}

.dashed{
border: 10px darksalmon


}

.double {

border: 10px dotted teal

}

.groove {

border: 10px groove purple

}


.ridge {


    border: 10px ridge gray
}


.inset {

border: 10px inset dodgerblue


}

.outset {

    border: 10px outset goldenrod;
}

.radius{


border : 10px solid black;
border-radius: 50px;

}