*{

margin:0;
padding:0;
box-sizing: border-box

}


h1{

    color: white;
}

.static{

position: static;
background-color: goldenrod;
}


.relative{

position: relative;
background-color: teal;
top: 50px;
left:50px;
}

.absolute{

    position: absolute;
    background-color: tomato;
    top: 55px;
    right: 50px;
}

.fixed{
position: fixed;
background-color: tomato;
top: 55px;
right: 50px;

}

.fixed a{

font-size: 25px;
text-align: center;
color: white;
padding: 20px;
text-decoration: none;

}

.parent{

position: relative;
width: 500px;
height: 500px;
background-color: gray;
z-index: -1;
}

.child {
    bottom: 250px;
    right: 250px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: coral
    

}