div.ex1 {


    background-image: url(../Image/Spiderman.jpg);
    image-resolution: 50px;
    font-weight: 900;
    text-align: center;
    background-repeat: no-repeat;
    color: aqua;
    width: 500px;
    height: 500px;
    margin-right: auto;
    border: 5px solid #73AD21
    
}

div.ex2{


    background-image: url(../Image/pic1.jpg);
    font-weight: 900;
    text-align: center;
    color: black;
    width: 500px;
    height: 500px;
    margin-top: auto;
    border: 5px solid #73AD21
    
}


